<section id="summary-component">
    <div class="container-fluid">
    	<div class="row header">
    		<div class="logo col">
                <a href="/">
                    <img [src]="'assets/images/logo.png'" alt="flex-logo">
                </a>
            </div>
            <div class="title col">
            	<h1>Results summary</h1>
            </div>
    	</div>
    </div>
    <div class="container">
    	<div class="row activity-wrapper" *ngFor="let summary of summaries">
			
			<div class="col-2">
				<h1>{{ summary.activity }}</h1>
			</div>

			<div class="col-10">
				<div class="summary-wrapper" *ngFor="let data of summary.data">
					<div class="col-8">
						<h2>{{ data.label }}</h2>
						<p>{{ data.summary }}</p>
					</div>
					<div class="col-4">
						<h2>To Dos</h2>
						<ul *ngFor="let todo of data.todos">
							<li>{{ todo.description }}</li>	
						</ul>
					</div>
				</div>
			</div>
    		
    	</div>
    </div>
</section>