<section id="summary-component">
    <div class="container-fluid">
    	<div class="row header">
    		<div class="logo col">
                <a href="/">
                    <img [src]="'assets/images/logo.png'" alt="flex-logo">
                </a>
            </div>
            <div class="title col">
            	<h1>Results summary</h1>
            </div>
    	</div>
    </div>
    <div class="container">
    	<div class="row activity-wrapper" *ngFor="let summary of summaries">
			
			<div class="col-3">
				<h2>{{ summary.label.default.title }}</h2>
			</div>

			<div class="col-9">
				<div class="summary-wrapper" *ngFor="let activity of summary.activities">
					<div class="col-4">
						<h3>{{ activity.label.default.title }}</h3>
						<p>{{ activity.label.default.summary }}</p>
					</div>
					
					<div class="cards-wrapper">
						<ng-container *ngFor="let card of activity.label.default.cards.default">
							<div *ngIf="card?.is_selected">
								<h4>{{ card.title }}</h4>
								<p>{{ card.description }}</p>
							</div>
						</ng-container>
					</div>

					<div class="col-4">
						<h3>To Dos</h3>
						<ul *ngFor="let todo of data?.todos">
							<li>{{ todo.description }}</li>	
						</ul>
					</div>
				</div>
			</div>
    		
    	</div>
    </div>
</section>