<span class="bl-icon-close"><i class="icon flx-close" aria-hidden="true"></i></span>

<wizard id="wizard-container" navBarLocation="left" navBarLayout="large-empty-symbols" navigationMode="free">

    <div *ngFor="let activity of activities; let activityIndex = index; ">

        <wizard-step 
            stepTitle="{{ activity.label.default.title }}" 
            navigationSymbol="&#82;"
            navigationSymbolFontFamily="flexcrowd"
            *ngIf="activityIndex < activities.length - 1 ">

            <!-- Activity detail section -->
            <div class="row activity-wrapper">
                <div class="col-9">
                    <h1>{{ activity.label.default.title }}</h1>
                    <p>{{ activity.label.default.description }}</p>
                </div>
                <div class="col-3 activity-icon">
                    <span><i class="icon flx-{{ activity.label.default.icon }}" aria-hidden="true"></i></span>
                </div>
            </div>
            <!-- END::Activity detail section -->

            <!-- Cards section -->
            <div class="row cards-wrapper">
                <div class="col-12 mc-indicator">
                    <h2 *ngIf="activity.label.default.is_multiple_choice"><i class="icon flx-checklist"></i> Multiple cards can be selected for this decision</h2>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-3 radio-tile-group" *ngFor="let card of activity.label.default.cards.default; let cardIndex = index; ">
                            <div class="input-container">
                                <input
                                    id="{{ card.id }}"
                                    name="activity-card_{{ activityIndex }}"
                                    type="checkbox"
                                    class="radio-button"
                                    *ngIf="activity.label.default.is_multiple_choice"
                                    [value]="card.id"
                                    [checked]="sessionData[index]?.activities[activityIndex]?.label.default.cards.default[cardIndex].is_selected"
                                    [(ngModel)]="sessionData[index]?.activities[activityIndex]?.label.default.cards.default[cardIndex].is_selected"
                                    (click)="applyFilter($event)"
                                />
                                <input
                                    id="{{ card.id }}"
                                    name="activity-card_{{ activityIndex }}"
                                    type="radio"
                                    class="radio-button"
                                    *ngIf="!activity.label.default.is_multiple_choice"
                                    [value]="card.id"
                                    [(ngModel)]="sessionData[index]?.activities[activityIndex]?.label.default.cards.default[cardIndex].is_selected"
                                    (click)="applyFilter($event)"
                                />
                                <div class="radio-tile">
                                    <div class="top-section">
                                        <div class="icon"><i class="icon flx-{{ card.icon }}" aria-hidden="true"></i></div>
                                        <label for="{{ card.id }}" class="radio-tile-label">{{ card.title }}</label>
                                    </div>
                                    <p>{{ card.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wizard-navigation">
                        <button class="btn btn-success" type="button" previousStep *ngIf="activityIndex > 0"><i class="icon flx-arrow-left-8"></i>Back</button>
                        <button class="btn btn-success float-right" type="button" nextStep *ngIf="activityIndex !== activities.length - 1" (click)="openSnackBar(index, activityIndex)">Next decision <i class="icon flx-arrow-right-8"></i></button>
                    </div>
                </div>
            </div>
            <!-- END::Cards section -->

        </wizard-step>

        <wizard-completion-step 
            stepTitle="{{ activity.label.default.title }}" 
            navigationSymbol="&#82;" 
            navigationMode="free"
            navigationSymbolFontFamily="flexcrowd"
            *ngIf="activityIndex === activities.length - 1" 
            enableBackLinks>

            <!-- Activity detail section -->
            <div class="row activity-wrapper">
                <div class="col-9">
                    <h1>{{ activity.label.default.title }}</h1>
                    <p>{{ activity.label.default.description }}</p>
                </div>
                <div class="col-3 activity-icon">
                    <span><i class="icon flx-{{ activity.label.default.icon }}" aria-hidden="true"></i></span>
                </div>
            </div>
            <!-- END::Activity detail section -->

            <!-- Cards section -->
            <div class="row cards-wrapper">
                <div class="col-12 mc-indicator">
                    <h2 *ngIf="activity.label.default.is_multiple_choice"><i class="icon flx-checklist"></i> Multiple cards can be selected for this decision</h2>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-3 radio-tile-group" *ngFor="let card of activity.label.default.cards.default; let cardIndex = index; ">
                            <div class="input-container">
                                <input 
                                    id="{{ card.id }}" 
                                    type="checkbox" 
                                    name="activity-card_{{ activityIndex }}" 
                                    class="radio-button" 
                                    *ngIf="activity.label.default.is_multiple_choice"
                                    [value]="card.id"
                                    [checked]="sessionData[index]?.activities[activityIndex]?.label.default.cards.default[cardIndex].is_selected"
                                    [(ngModel)]="sessionData[index]?.activities[activityIndex]?.label.default.cards.default[cardIndex].is_selected"
                                    (click)="applyFilter($event)"
                                />
                                <input 
                                    id="{{ card.id }}" 
                                    type="radio" 
                                    name="activity-card_{{ activityIndex }}" 
                                    class="radio-button" 
                                    *ngIf="!activity.label.default.is_multiple_choice"
                                    [value]="card.id"
                                    [(ngModel)]="sessionData[index]?.activities[activityIndex]?.label.default.cards.default[cardIndex].is_selected"
                                    (click)="applyFilter($event)"
                                />
                                <div class="radio-tile">
                                    <div class="top-section">
                                        <div class="icon"><i class="icon flx-{{ card.icon }}" aria-hidden="true"></i></div>
                                        <label for="{{ card.id }}" class="radio-tile-label">{{ card.title }}</label>
                                    </div>
                                    <p>{{ card.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wizard-navigation">
                        <button class="btn btn-success" type="button" previousStep *ngIf="activityIndex > 0"><i class="icon flx-arrow-left-8"></i>Back</button>
                        <button class="btn btn-success float-right" type="button" *ngIf="activityIndex === activities.length - 1" (click)="finalizeStep(index, activityIndex)">Next Quadrant <i class="icon flx-arrow-right-8"></i></button>
                    </div>
                </div>
            </div>
            <!-- END::Cards section -->

        </wizard-completion-step>

    </div>

</wizard>