@import 'src/assets/sass/variables';

#index-component {
    height: 100%;
    padding: 4rem;

    text-align: left;
    
    h1 {
        font-size: 1.75rem;

        margin-bottom: 2rem;

        color: $fc-blue;
        border-bottom: 2px solid $fc-blue;
    }
}