@import 'src/assets/sass/variables';

#index-component {
    height: 100%;
    padding: 2rem 0;

    text-align: left;
    h1 {
        font-size: 1.75rem;

        margin-bottom: 2rem;

        color: $fc-blue;
        border-bottom: 2px solid $fc-blue;
    }
}

.slide-feedback-section {
    .chat-bot {
        display: none;
    }
    #feedback-section {
        display: block;
    }
}

.slide-platform-section {
    .chat-bot {
        display: none;
    }
    #platform-section {
        display: block;
    }
}

#platform-section,
#feedback-section {
    display: none;
    
    .platform-detail {
        display: block !important;

        transition: opacity 5s linear;
        animation-delay: 5s;

        background-color: $fc-light-orange;
        .details,
        .attributes,
        .btn-container {
            padding: 1rem;
        }
        .header {
            h2 {
                font-weight: bold;

                color: $fc-blue;
            }
            .description {
                padding-top: 2em;
            }
        }
        .logo > span {
            display: block;

            padding: 1em;

            border-radius: 50%;
            background: $fc-white;
            img {
                width: 100%;
            }
        }
        .attributes {
            h3 {
                font-size: 1.45em;

                color: $fc-blue;
            }
            ul {
                margin-top: 1em;
                padding-left: 1em;

                list-style-type: none;
                li {
                    padding-bottom: .5em;
                    i.fa {
                        padding-right: 5px;

                        color: $fc-blue;
                    }
                }
            }
        }
    }
}