#result-component {
    .result-header {
        position: relative;

        padding: 0 1rem;

        text-align: center;
        .fa {
            font-size: 1.75em;
        }
        .col:nth-child(1) {
            span.fa {
                color: #e67e22;
                &:after {
                    position: absolute;
                    top: 12px;
                    right: -20px;

                    width: 85%;

                    content: '';

                    border-bottom: 2px dotted #bbb;
                }
            }
        }
        .col:nth-child(3) {
            span.fa {
                color: #2da5b6;
                &:after {
                    position: absolute;
                    top: 12px;
                    left: -20px;

                    width: 85%;

                    content: '';

                    border-bottom: 2px dotted #bbb;
                }
            }
        }
    }
    .platform-list {
        margin-top: 1em;
        padding: 2em;
        ul {
            overflow-y: scroll;

            width: 100%;
            height: 350px;
            padding-left: 12px;

            list-style-type: none;
            li {
                margin-bottom: 1rem;
                .platform {
                    display: inline-flex;

                    align-items: center;
                }
                span {
                    display: flex;

                    width: 50px;
                    height: 50px;
                    margin-right: 1rem;

                    color: #fff;
                    border-radius: 50%;

                    justify-content: center;
                    align-items: center;
                }
                md-slider {
                    width: 300px;
                    .mat-slider-thumb {
                        right: -20px;
                        bottom: -20px;

                        width: 40px;
                        height: 40px;

                        background: #aaa;
                    }
                }
                > div.low-score {
                    span {
                        background: #e67e22;
                    }
                    md-slider {
                        .mat-slider-thumb {
                            background: #e67e22;
                        }
                    }
                }
                > div.high-score {
                    span {
                        background: #2da5b6;
                    }
                    md-slider {
                        .mat-slider-thumb {
                            background: #2da5b6;
                        }
                    }
                }
            }
        }
    }
}