@import 'src/assets/sass/variables';

#index-component {
    display: flex;

    height: calc(100vh - 125px);

    text-align: left;

    h1 {
        font-size: 1.75rem;

        margin-bottom: 2rem;

        color: $fc-blue;
    }
     > .row {
        align-items: center;
    }
}

.ngui-auto-complete {
    margin-top: .5rem;
    ul {
        padding: .25rem !important;

        text-align: left;

        border: 1px solid #ebdeb2 !important;
        border-radius: 30px;
        background-color: transparent !important;
        li {
            color: #d2b554;
        }
    }
}