<section id="process-component" class="container-fluid slide-in">

    <div class="row process-view-wrapper" slide>

        <div class="col-9 main-wrapper">

            <div class="row">

                <div class="col-9">
                    <!-- Query and result section -->
                    <div class="row query-cat-wrapper">
                        <div class="col-12">
                            <i class="fa fa-question-circle" aria-hidden="true"></i>
                            <h1>{{ query }}</h1>
                        </div>
                        <div class="col-12">
                            <h2 class="found-cat">{{ category }}</h2>
                        </div>
                    </div>
                    <!-- Wizards wrapper section -->
                    <div class="row wizard-wrapper">
                        <!-- Process wizard -->
                        <wizard class="process-wizard" navBarLayout="large-filled" navigationMode="free">
                            <wizard-step stepTitle="{{ csprocess.process_name}}" *ngFor="let csprocess of csprocesses">
                                <h1>{{ csprocess.label.default.description }}</h1>
                                <!-- Dimension wizard -->
                                <wizard class="dimension-wizard" navBarLayout="small" navBarLocation="left" navigationMode="free">
                                    <wizard-step stepTitle="{{ subdimension.label.default.title }}" *ngFor="let subdimension of csprocess.dimensions.subdimensions">
                                        <h1>{{ subdimension.label.default.description }}</h1>
                                        <mat-radio-group [(ngModel)]="goalValueType" (change)="handleChange($event.value, 'value_type', 'goal')">
                                            <mat-radio-button value="initiator" *ngFor="let characteristic of subdimension.label.default.characteristics.default">{{ characteristic.title }} | {{ characteristic.description }}</mat-radio-button>
                                        </mat-radio-group>
                                    </wizard-step>
                                </wizard>
                                <!-- END::Dimension wizard -->
                            </wizard-step>
                        </wizard>
                        <!-- END::Process wizard -->
                    </div>
                    <!-- END::Wizards wrapper section -->
                </div>

                <!-- Recommandation section -->
                <div class="col-3 recommandation-wrapper">
                    <div class="row">
                        <h1>My recommandations</h1>
                        <div class="result-wrapper">
                            <!-- High score hits -->
                            <div class="row high-scores-hits">
                                <div class="col-3 flex-middle">
                                    <div class="avatar">
                                        <img type="image/svg+xml" [src]="'assets/images/avatar.svg'" class="fill" alt="flex-avatar" />
                                    </div>
                                </div>
                                <div class="col-9 flex-middle">
                                    <div class="platforms">
                                        <span class="platform" (click)="getPlatformDetail(platform.id)" *ngFor="let platform of results?.high_hits">{{ platform.name }}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- Medium score hits -->
                            <div class="row medium-scores-hits">
                                <div class="col-3 flex-middle">
                                    <div class="avatar">
                                        <img type="image/svg+xml" [src]="'assets/images/avatar-sad.svg'" class="fill" alt="flex-avatar" />
                                    </div>
                                </div>
                                <div class="col-9 flex-middle">
                                    <div class="platforms">
                                        <span class="platform" (click)="getPlatformDetail(platform.id)" *ngFor="let platform of results?.medium_hits">{{ platform.name }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Platform details -->
        <div class="col-3 platform-detail-wrapper">
            <div class="col-9 header">
                <h2>{{ platform?.name }}</h2>
                <div class="link">
                    <a href="{{ platform?.platform_website }}" target="_blank">{{ platform?.platform_website }}</a>
                </div>
                <div class="description">
                    <p>{{ platform?.description }}</p>
                </div>
            </div>
            <div class="col-3 logo">
                <span *ngIf="platform?.platform_img_url === ''">
                    <img [src]="'assets/images/avatar.svg'">
                </span>
                <span *ngIf="platform?.platform_img_url !== ''">
                    <img [src]="platform?.platform_img_url">
                </span>
            </div>
            <div class="row attributes">
                <div class="col">
                    <h3>Par rapport à vos besoins</h3>
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Facilité d’utilisation</li>
                        <li><i class="fa fa-check" aria-hidden="true"></i> Lorem ipsum</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Lorem ipsum</li>
                        <li><i class="fa fa-minus" aria-hidden="true"></i> Sit amet</li>
                        <li><i class="fa fa-times" aria-hidden="true"></i> Hich et nunc</li>
                        <li><i class="fa fa-times" aria-hidden="true"></i> Hich et nunc</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>