#process-component {
    height: 100%;

     > .row {
        height: 100%;
    }

    .processes-wrapper {
        padding: 2rem;

        #bl-main > .not-active {
            background: #aaa;
        }

        #bl-main > .active {
            background: #2da5b6;
        }

        .bl-box {
            .activity-status {
                position: absolute;
                top: 0;
                right: 0;

                padding: 1rem;
                i {
                    font-size: 2rem;
                }
            }
            h2 span {
                font-size: 8rem;

                display: block;
            }
        }
        .bl-content {
            height: 100%;
            padding-right: 2rem;

            border-right: 2px solid #2da5b6;

            .bl-icon-close i {
                font-size: 1.5rem;

                color: #ccc;
            }

            .cards-wrapper {
                display: none;
            }
        }
        .bl-expand {
            .bl-content .cards-wrapper {
                display: block;
            }
        }
    }

    .recommendation-section {
        padding: 4rem 0;

        background: #fff;
        h1 {
            font-size: 2rem;
            font-weight: bold;

            color: #2da5b6;
        }
        h2 {
            font-size: 1.5rem;

            text-transform: uppercase;

            color: #888;
        }
        .query-detail {
            background: #2da5b6;
        }
        .result-wrapper {
            margin-top: 2rem;
            padding-left: 0;
            .medium-scores-hits {
                margin-top: 2rem;
            }
            .platforms span {
                font-size: 1.25rem;

                margin-right: 1rem;

                text-decoration: underline;

                color: #555;
            }
        }
    }
}
