<section id="process-component" class="container-fluid cbp-spmenu-push" slidePush>

    <div class="row">
        
        <!-- Process Section -->
        <div class="col-9 processes-wrapper" boxLayout>
            <div id="bl-main" class="bl-main">
                <section class="{{ activitiesStatus[i].state }}" *ngFor="let csactivity of csactivities; let i = index; ">
                    <div class="bl-box">
                        <div class="activity-status" *ngIf="activitiesStatus[i].isCompleted"><i class="icon flx-check-badge"></i></div>
                        <h2>
                            <span><i class="icon flx-{{ csactivity.icon }}" aria-hidden="true"></i></span> 
                            {{ csactivity.label.default.title }}
                        </h2>
                        <div class="seleted-cards-wrapper" *ngIf="activitiesStatus[i].isCompleted">
                            <ul>
                                <li *ngFor="let selectedCard of selectedCardsArray[i];">
                                    <i class="icon flx-{{ selectedCard?.icon }}"></i>
                                    <span>{{ selectedCard?.title }} <title></title></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Content wrapper -->
                    <div class="bl-content">
                        <activity-wizard 
                            [title]="csactivity.label.default.title" 
                            [activities]="csactivity.activities" 
                            [index]="activitiesStatus[i].index"
                            [activitiesStatus]="activitiesStatus"
                            [attributesArray]="attributesArray"
                            [quadrants]="quadrants"
                            [selectedCardsArray]="selectedCardsArray"
                            [sessionData]="sessionData"
                            (change)="activityCompleted($event)"
                            (filter)="filterPlatform($event)">
                            
                        </activity-wizard>
                    </div>
                    <!-- END::Content wrapper -->
                </section>
            </div>
        </div>

        <!-- Recommendation Section -->
        <div class="col-3">
            <div class="recommendation-section">
                <h1 id="showRightPush">My recommandations</h1>
                <div class="result-wrapper">
                    <!-- High score hits -->
                    <div class="high-scores-hits" *ngIf="results?.high_hits">
                        <h2>First choices</h2>
                        <div class="platforms">
                            <span (click)="getPlatformDetail(platform.id, $event)" *ngFor="let platform of results?.high_hits">{{ platform.name }}</span>
                        </div>
                        <div style="margin-top:1rem; color: #fff; padding: 0.25rem; background: #2da5b6; width: 7rem; text-align: center;">{{ results.high_hits.length }} Platforms</div>
                    </div>
                    <!-- Medium score hits -->
                    <div class="medium-scores-hits" *ngIf="results?.medium_hits">
                        <h2>Alternatives</h2>
                        <div class="platforms">
                            <span (click)="getPlatformDetail(platform.id, $event)" *ngFor="let platform of results?.medium_hits">{{ platform.name }}</span>
                        </div>
                        <div style="margin-top:1rem; color: #fff; padding: 0.25rem; background: #2da5b6; width: 7rem; text-align: center;">{{ results.medium_hits.length }} Platforms</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <aside id="cbp-spmenu-s2" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right platform-detail-wrapper">
        <div class="container">
            <span class="bl-icon-close" (click)="closeDetail()"><i class="icon flx-close" aria-hidden="true"></i></span>
            <div class="row">
                <div class="col-3 img-container">
                    <img [src]=" assetUrl + platform?.platform_img_url">
                </div>
                <div class="col-8 platform-detail">
                    <h1>{{ platform?.name }}</h1>
                    <a href="{{ platform?.platform_website }}" target="_blank">{{ platform?.platform_website }}</a>
                    <p>{{ platform?.description }}</p>
                </div>
            </div>
            <!--
            <div class="row">
                <div class="col-12">
                    <h2>{{ platform?.name }} caracteristics</h2>
                    <h3>Cluster {{ platform?.cluster }}</h3>
                    <div class="row attributes-wrapper">
                        <div class="col" *ngFor="let attribute of platform?.attributes | mapToIterable">
                            <h4>{{ attribute | mapIdToText }}</h4>
                            <div class="characteristic" *ngFor="let item of platform?.attributes[attribute] | mapToIterable">
                                <span>{{ item | mapIdToText }}</span> 
                                <span>{{ platform?.attributes[attribute][item] | mapIdToText }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </aside>
    
</section>