#process-component {
    height: 100%;

     > .row {
        height: 100%;
    }

    .processes-wrapper {
        padding: 2rem 0 2rem 2rem;

        #bl-main {
             > .not-active {
                background: #aaa;
            }
            .active {
                background: #2da5b6;
            }
            .bl-box {
                .seleted-cards-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;

                    padding: 1rem;
                    ul {
                        margin: 0;
                        padding: 0;

                        list-style-type: none;
                    }
                }
                .activity-status {
                    position: absolute;
                    top: -15px;
                    right: -15px;

                    padding: 0 .5rem;
                    i {
                        font-size: 2rem;
                    }
                }
                h2 span {
                    font-size: 8rem;

                    display: block;
                }
            }
            .bl-content {
                height: 100%;
                padding-right: 2rem;

                border-right: 1px solid rgba(0, 0, 0, .15);

                .bl-icon-close i {
                    font-size: 1rem;

                    color: #2da5b6;
                }

                .cards-wrapper {
                    display: none;
                }
            }
            .bl-expand {
                .bl-content .cards-wrapper {
                    display: block;
                }
            }
        }
    }

    .recommendation-section {
        position: relative;

        padding: 2.2rem 0;
        h1,
        h2 {
            font-weight: bold;

            text-transform: uppercase;
        }
        h1 {
            font-size: 1.35rem;

            color: #2da5b6;
        }
        h2 {
            font-size: 1.15rem;

            color: #555;
        }
        .query-detail {
            background: #2da5b6;
        }
        .result-wrapper {
            margin-top: 2rem;
            padding-left: 0;
            .medium-scores-hits {
                margin-top: 2rem;
            }
            .platforms span {
                font-size: 1rem;

                display: inline-block;

                padding-right: 1rem;

                cursor: pointer;
                text-decoration: underline;

                color: #555;
                &:hover {
                    font-weight: bold;

                    text-decoration: none;

                    color: #2da5b6;
                }
                &.active-platform {
                    font-size: 1.75rem;
                    font-weight: bold;

                    text-decoration: none;

                    color: #2da5b6;
                }
            }
        }
    }

    .platform-detail-wrapper {
        .container {
            position: relative;

            display: inline-table;

            padding: 2rem 4rem;

            background: #e0cd8a;
            box-shadow: 0 0 25px 5px rgba(0, 0, 0, .05);
            .bl-icon-close {
                position: absolute;
                top: 5px;
                right: 10px;

                cursor: pointer;
            }
             > .row {
                align-items: flex-start;
                .attributes-wrapper {
                    color: #333;
                    span {
                        display: block;
                    }
                    .characteristic > span:first-child {
                        font-weight: bold;

                        color: rgba(0, 0, 0, .5);
                    }

                    .characteristic > span:last-child {
                        padding-bottom: .5rem;
                    }
                }
            }
            h1,
            h2 {
                color: #2da5b6;
            }
            h2 {
                font-size: 1.5rem;
            }
            h3 {
                font-size: 1.25rem;

                padding-bottom: 1rem;
            }
            a,
            p,
            h3 {
                color: #333;
            }
            a {
                font-size: 1rem;

                text-transform: lowercase;
            }
            p {
                font-size: 1rem;

                padding-top: 1rem;
            }
            img {
                width: 100%;
            }
        }
    }
}
