<section id="process-component" class="container-fluid">

    <div class="row">
        
        <!-- Process Section -->
        <div class="col-8 processes-wrapper" box-layout>

            <div id="bl-main" class="bl-main col-8">

                <section *ngFor="let csprocess of csprocesses; let i = index; ">

                    <div class="bl-box">
                        <h2><span><i class="{{ csprocess.icon }}" aria-hidden="true"></i></span> {{ csprocess.process_name}}</h2>
                    </div>
                    
                    <!-- Content wrapper -->
                    <div class="bl-content">
                        <span class="bl-icon-close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                        
                        <!-- Process infos -->
                        <div class="row process-detail">
                            <div class="col col-2 icon">
                                <span><i class="{{ csprocess.icon }}" aria-hidden="true"></i></span>
                            </div>
                            <div class="col col-10 description">
                                <h2>{{ csprocess.label.default.title }}</h2>
                                <p>{{ csprocess.label.default.description }}</p>
                            </div>
                        </div>
                        <!-- END::Process infos -->
                        
                        <!-- Dimension wrapper -->
                        <div class="row">
                            <div class="col col-12">
                                <dimension-swiper [subdimensions]="csprocess.dimensions.subdimensions"></dimension-swiper>
                            </div>
                        </div>
                        <!-- END::Dimension wrapper -->
                    </div>
                    <!-- END::Content wrapper -->
                </section>

                <section>
                    <div class="bl-box">
                        <h2 class="bl-icon bl-icon-contact"><span><i class="fa fa-tachometer" aria-hidden="true"></i></span> Evaluation</h2>
                    </div>
                    <div class="bl-content">
                        <span class="bl-icon-close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>

                        <div class="row process-detail">
                            <div class="col col-2 icon">
                                <span><i class="fa fa-crosshairs" aria-hidden="true"></i></span>
                            </div>
                            <div class="col col-10 description">
                                <h2>Evaluation</h2>
                                <p>Pinterest semiotics single-origin coffee craft beer thundercats irony, tumblr bushwick intelligentsia pickled. Narwhal mustache godard master cleanse street art, occupy ugh selfies put a bird on it cray salvia four loko gluten-free shoreditch.</p>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>

        <!-- Recommendation Section -->
        <div class="col-4">
            <div class="recommendation-section">
                <div class="row">
                    <h1>My recommandations</h1>
                    <div class="col-12 result-wrapper">
                        <!-- High score hits -->
                        <div class="high-scores-hits">
                            <h2>First choices</h2>
                            <div class="flex-middle">
                                <div class="platforms">
                                    <span class="platform" (click)="getPlatformDetail(platform.id)" *ngFor="let platform of results?.high_hits">{{ platform.name }}</span>
                                </div>
                            </div>
                        </div>

                        <!-- Medium score hits -->
                        <div class="medium-scores-hits">
                            <h2>Alternatives</h2>
                            <div class="flex-middle">
                                <div class="platforms">
                                    <span class="platform" (click)="getPlatformDetail(platform.id)" *ngFor="let platform of results?.medium_hits">{{ platform.name }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</section>