<span class="bl-icon-close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>

<wizard id="wizard-container" navBarLocation="left" navBarLayout="large-empty-symbols">

    <wizard-step stepTitle="{{ activity.label.default.title }}" navigationSymbol="&#xe377;" navigationSymbolFontFamily="flexcrowd" *ngFor="let activity of activities; let i = index; ">
        
        <!-- Activity detail section -->
        <div class="row activity-wrapper">
            <div class="col-9">
                <h1>{{ activity.label.default.title }}</h1>
                <p>{{ activity.label.default.description }}</p>
            </div>
            <div class="col-3 activity-icon">
                <span><i class="icon flx-{{ activity.label.default.icon }}" aria-hidden="true"></i></span>
            </div>
        </div>
        
        <!-- Cards section -->
        <div class="row cards-wrapper">
            <div class="col-12">
                <div class="row">
                    <div class="col radio-tile-group" *ngFor="let card of activity.label.default.cards.default">
                        <div class="input-container">
                            <input id="walk" class="radio-button" type="radio" name="radio" />
                            <div class="radio-tile">
                                <label for="walk" class="radio-tile-label">{{ card.title }}</label>
                                <div class="icon">
                                    <i class="icon flx-{{ card.icon }}" aria-hidden="true"></i>
                                </div>
                                <p>{{ card.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="wizard-navigation">
                    <button class="btn btn-success" type="button" previousStep *ngIf="i > 0"><i class="icon flx-arrow-left-8"></i>Back</button>
                    <button class="btn btn-success float-right" type="button" nextStep *ngIf="i !== activities.length - 1">Next decision <i class="icon flx-arrow-right-8"></i></button>
                </div>
            </div>
        </div>

    </wizard-step>

</wizard>