<div mnFullpage [mnFullpageSlidesNavigation]="true" [mnFullpage]="options">
    <!-- Welcome section -->
    <section class="welcome-section fp-section fp-table">
        <!-- Header section -->
        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="logo">
                        <a href="/"><img [src]="'assets/images/logo.png'" alt="flex-logo"></a>
                    </div>
                    <div class="menu-top">
                        <ul>
                            <li>
                                <a href="#">About us</a>
                            </li>
                            <li>
                                <a href="#">Our services</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- Introduction section -->
        <div class="container intro-section">
        	<div class="row text">
    	        <div class="col col-5 avatar">
                    <img type="image/svg+xml" [src]="'assets/images/avatar.svg'" class="fill" alt="flex-avatar" />
    	        </div>
    	        <div class="col col-7">
    	            <h1>Flexcrowd, Finding the right crowdsourcing platform for your business has never been easier !</h1>
    	        </div>
            </div>
            <div class="row start-chat-btn" data-menuanchor="start">
                <a href="#start" class="btn">Start chatting with Flexbot</a>
    	        <!--<button class="btn">Commencer l'analyse</button>-->
    	    </div>
        </div>
    </section>

    <section class="fp-section fp-table">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </section>

</div>