@import 'src/assets/sass/variables';

body {
    background: $fc-white;
}

header {
    margin-bottom: 4em;

    background: #f9f5e8;
    .logo {
        line-height: 1;

        position: relative;

        float: left;

        width: 25%;
        min-height: 1px;
        padding: 1em;
        padding-right: 15px;
        padding-left: 15px;
        img {
            max-width: 100%;
        }
    }
    .menu-top {
        position: relative;

        float: left;

        width: 75%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;

        text-align: right;
        ul li {
            display: inline-block;

            padding: 0 0 0 2em;

            list-style: none outside none;
            a {
                color: $fc-blue;
            }
        }
    }
}

.welcome-section {
    background-color: $fc-light-orange;
    header > .container-fluid {
        background-color: $fc-light-orange;
        > .row {
            justify-content: left;
            img {
                max-width: 75%;
            }
        }
    }
    .row {
        justify-content: center;
        align-items: center;
        .avatar > img {
            width: 100%;
        }
    }
    .intro-section button {
        background-color: $fc-blue;
        color: $fc-white;
    }
}

.container-fluid {
    background-color: $fc-white;
}