#services {
    background: #ebdeb2;
}

#about {
    background: #53c4d4;
}

#services,
#about {
    padding: 4rem 2rem;
    h1 {
        margin-bottom: 2rem;

        text-align: center;
    }
    p {
        font-size: 1rem;
    }
}
