<!-- Our services section -->
<section id="services" class="container-fluid">
    <h1>Our Services</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    We provide consulting and support for companies who want to harness the power of the crowd in their processes. Get in touch for further information:
                    <a href="mailto:contact@flexcrowd.org">contact@flexcrowd.org</a>. </p>
            </div>
        </div>
    </div>
</section>
<!-- /Our services section -->

<!-- About Us section -->
<section id="about" class="container-fluid">
    <h1>About Us</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    Flexcrowd helps people find a crowdsourcing platform which best meets their needs and make key decisions in the process.
                    It is based on existing research and data about dozens of crowdsourcing websites. Choosing cards corresponding
                    to key decisions of the crowdsourcing process allows for preparation of the operation and filtering of
                    the list of websites. </p>
            </div>
            <div class="col">
                <p> The Flexcrowd research project (coordinated by the Management Department of the University of Applied Sciences
                    and Arts of Western Switzerland Arc - HEG-Arc) has been possible thanks to the support of the RCSO ISNET.
                </p>

            </div>

        </div>
        <div class="col">
            <h2>Team</h2>
            <p>Prof. Dr. Ulysse Rosselet, Assistant Professor in information systems at the HEG-Arc. His research activities
                concentrate on coordination and crowdsourcing. Project leader of the Flexcrowd research project.
            </p>
            <p>Sophie Latrille is a Senior academic associate at the HES-SO Valais Wallis. Her main activity within the project
                was to bring practical expertise in crowdsourcing consulting.</p>
            <p>
                Jean David Legrand, BSc in information systems, research assistant at the HEG-Arc . His main activity within the project
                is to create the Flexcrowd application.
            </p>
        </div>
    </div>
</section>
<!-- /About Us section -->