/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700');

/**
 * Flexcrowd styles variables
 */
$fc-dark-blue: #0a1f29;
$fc-blue: #02b3e4;
$fc-blue-1: #40a9c4;
$fc-modal-bg: rgba(255, 255, 255, .98);
$fc-font-size-base: .8rem;
