/* Fonts styles */
@font-face {
    font-family: 'hk-regular';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/hkgrotesk/HKGrotesk-Regular.eot');
    src: url('fonts/hkgrotesk/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'), 
    	 url('fonts/hkgrotesk/HKGrotesk-Regular.woff2') format('woff2'), 
    	 url('fonts/hkgrotesk/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'hk-bold';
    font-weight: normal;
    font-style: normal;

    src: url('fonts/hkgrotesk/HKGrotesk-Bold.eot');
    src: url('fonts/hkgrotesk/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'), 
    	 url('fonts/hkgrotesk/HKGrotesk-Bold.woff2') format('woff2'), 
    	 url('fonts/hkgrotesk/HKGrotesk-Bold.woff') format('woff');
}

/* Variables */
@import 'variables';

/* Bootstrap */
@import '../../../node_modules/bootstrap/scss/bootstrap';

/* Material Theming */
@import '../../../node_modules/@angular/material/theming';

/* Fontawesome */
@import url('fonts/fontawesome/font-awesome.min.css');

/* Plugins styles */
@import url('plugins/jquery.fullpage.css');
@import url('plugins/deeppurple-amber.css');
@import url('plugins/swiper.min.css');

@import 'box-layout';

$custom-typography: mat-typography-config(
    $font-family: 'hk-regular, monospace',
    $headline: mat-typography-level(32px, 48px, 700),
    $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);