@import 'src/assets/sass/variables';

#chatbot-component {
    position: relative;

    display: block;
    .chat_window {
        position: relative;

        border: 1px solid #eee;
        border-radius: 10px;
        background-color: #fff;
        background-color: #f8f8f8;
        box-shadow: 0 0 15px rgba(0, 0, 0, .115);
    }
    .messages {
        position: relative;

        overflow-y: auto;

        height: 350px;
        min-height: 25rem;
        margin: 0;
        padding: 20px 10px 0 10px;

        list-style: none;

        border-radius: 10px 10px 0 0;
        background: #efefef;
    }
    .messages .message {
        clear: both;
        overflow: hidden;

        margin-bottom: 20px;

        transition: all .5s linear;

        opacity: 0;
    }
    .messages .message.left .avatar {
        position: relative;

        float: left;

        background-color: rgba(255, 255, 255, .5);
        > img {
            position: absolute;
            right: 5px;
            bottom: 4px;
        }
    }
    .messages .message.left .text_wrapper {
        margin-top: 10px;
        margin-left: 20px;

        background-color: #ef7921;
    }
    .messages .message.left .text_wrapper::before {
        right: 100%;

        border-width: 8px;
        border-right-color: #ef7921;
    }
    .messages .message.left .text {
        color: #fff;
    }
    .messages .message.right .avatar {
        float: right;

        background-color: $fc-blue;
    }
    .messages .message.right .text_wrapper {
        float: right;

        margin-top: 10px;
        margin-right: 20px;

        background-color: $fc-blue;
    }
    .messages .message.right .text_wrapper::before {
        left: 100%;

        border-width: 8px;
        border-left-color: $fc-blue;
    }
    .messages .message.right .text {
        color: #fff;
    }
    .messages .message.appeared {
        opacity: 1;
    }
    .messages .message .avatar {
        display: inline-block;

        width: 60px;
        height: 60px;

        border-radius: 50%;
    }
    .messages .message .text_wrapper {
        position: relative;

        display: inline-block;

        width: calc(100% - 85px);
        min-width: 100px;
        padding: 10px;

        border-radius: 6px;
    }
    .messages .message .text_wrapper:before {
        position: absolute;
        top: 10px;

        width: 0;
        height: 0;

        content: ' ';
        pointer-events: none;

        border: solid transparent;
    }
    .messages .message .text_wrapper::after {
        margin-top: 0;

        border-width: 13px;
    }
    .messages .message .text_wrapper .text {
        font-size: 1rem;
    }
    .bottom_wrapper {
        position: relative;
        bottom: 0;

        width: 100%;
        padding: 20px 20px;

        border-radius: 0 0 10px 10px;
        background-color: #fff;
    }
    .bottom_wrapper .message_input_wrapper {
        position: relative;

        display: inline-block;

        width: calc(100% - 110px);
        height: 35px;
        padding: 0 10px;

        border: 1px solid #bcbdc0;
        border-radius: 25px;
    }
    .bottom_wrapper .message_input_wrapper .message_input {
        position: relative;

        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding-top: 8px;

        color: gray;
        border: none;
        outline-width: 0;
        background: transparent;
    }
    .bottom_wrapper .send_message {
        display: inline-block;
        float: right;

        width: 100px;
        height: 35px;

        cursor: pointer;
        transition: all .2s linear;
        text-align: center;

        color: #fff;
        border: 2px solid #a3d063;
        border-radius: 50px;
        background-color: #a3d063;
    }
    .bottom_wrapper .send_message:hover {
        color: #a3d063;
        background-color: #fff;
    }
    .bottom_wrapper .send_message .text {
        line-height: 30px;

        display: inline-block;
    }
}

.typing-container {
    display: inline-flex;
    .typing-indicator {
        width: 5px;
        height: 5px;
        margin-top: 10px;
        margin-left: 5px;

        animation: 2s jump infinite;

        border-radius: 50%;
        background-color: #fff;
    }
    .typing-indicator:nth-of-type(1) {
        animation-delay: 0s;
    }
    .typing-indicator:nth-of-type(2) {
        animation-delay: .1s;
    }
    .typing-indicator:nth-of-type(3) {
        animation-delay: .2s;
    }
    @keyframes jump {
        0% {
            margin-top: 10px;
        }
        10% {
            margin-top: 0;
        }
        20% {
            margin-top: 10px;
        }
        100% {
            margin-top: 10px;
        }
    }
}